
// Aside styles
.filters:extend(.box-shadow) {
  accent-color: var(--pokemon-red);
  background-color: white;
  border-radius: 5px;
  border: 8px solid var(--pokemon-border-card);
  padding: 24px;
  width: 200px;

  // SEARCH FORM
  .search {
    &__container {
      margin-block-end: 1.5rem;
    }

    &__input {
      caret-color: var(--pokemon-red);
      border: 1px solid var(--pokemon-red);
      border-radius: 2rem;
      padding-inline: 1rem;
      height: 2.3rem;
      line-height: 2rem;

      &::placeholder {
        font-weight: bold;
        color: var(--pokemon-red);
      }

      &:focus {
        outline: 1px solid var(--pokemon-red);
      }
    }
  }

  hr {
    border-top: 2px solid var(--aside-border-bg);
    height: 0;
  }

  // FILTERS
  .filters {
    &__title:extend(.pokemon-text) {
      display: block;
      font-size: 1.6rem;
      margin-block: 0;
      padding: 0;
      text-align: left;
    }

    &__filter-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }

    &__apply-filter-button:extend(.button all) {
      margin-block: 1rem 2rem;
      width: 100%;
    }
  }

}