@property --typeColor {
  syntax: "<color>";
  inherits: true;
  initial-value: #f5f5f5;
}

@property --secondary-typeColor {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5f5f5;
}

:root {
  // types colors
   --type-normal: #cfcfb3;
  --type-fighting: #e78a85;
  --type-flying: #cabff7;
  --type-poison: #d8a4d2;
  --type-ground: #edd8a8;
  --type-rock: #d9cc85;
  --type-bug: #d0e18b;
  --type-ghost: #bca7d1;
  --type-steel: #d6d6e5;
  --type-fire: #f6b391;
  --type-water: #a7c5f7;
  --type-grass: #b4e3a1;
  --type-electric: #fae27b;
  --type-psychic: #f8a7b9;
  --type-ice: #c9ebe8;
  --type-dragon: #afa0f9;
  --type-dark: #a6907e;
  --type-fairy: #efc2d4;
  --type-stellar: #ffe599;
  --type-unknown: #a9c2b4;


  --pokemon-border-card: var(--pokemon-yellow);
}

.pokemon:extend(.box-shadow) {
  background: linear-gradient(to right bottom, var(--typeColor) 50%, var(--secondary-typeColor) 50%);
  border-radius: 10px;
  border: 8px solid var(--pokemon-border-card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  text-align: center;

  &:focus-visible {
    outline: 5px solid var(--pokemon-red);
  }

  &__list {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding-left: 20px;

    &.no-results {
      display: flex;
      justify-content: center;
    }

    .no-results__text {
      color: white;
    }
  }

  &__img-container {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 3px solid transparent;
    height: 120px;
    width: 120px;
    text-align: center;

    &:hover {
      border: 3px solid var(--pokemon-red);
      cursor: pointer;
    }
  }

  &__img {
    max-width: 90%;
    margin-top: 10px;
  }

  &__info {
    margin-top: 20px;

    &__number {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 0.8rem;
    }

    &__name {
      margin: 15px 0 7px;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }
}