:root {
  --pokemon-red: #e3350d;
}

body {
  background-color: #7299a3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
  }
}

#app {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  text-align: center;

  h1:extend(.pokemon-text) {
    font-size: 3rem;
    margin: 0;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: var(--pokemon-red);
  color: white;
  border: none;
  border-radius: 2rem;
  font-weight: bold;

  &:hover {
    background-color: #8f2c19;
    box-shadow: 3px 2px white;
  }
}

main {
  display: flex;
  min-height: 700px;
}

.main-section {
  width: 100%;

  .search {
    &__container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-block-end: 1.5rem;
      padding-inline: 48px;
      width: 100%;

      .title:extend(.pokemon-text all) {
        font-size: 1.7em;
        line-height: 48px;
      }
    }

    &__field {
      align-items: center;
      display: flex;
    }

    &__input {
      caret-color: var(--pokemon-red);
      border: 1px solid var(--pokemon-red);
      border-radius: 2rem;
      padding-inline: 1rem;
      margin-inline: 1rem;
      height: 2.3rem;
      line-height: 2rem;
      min-width: 400px;

      &::placeholder {
        font-weight: bold;
        color: var(--pokemon-red);
      }

      &:focus {
        outline: 1px solid var(--pokemon-red);
      }
    }
  }

  .pokemon-count {
    color: white;
    display: flex;
    font-size: .8em;
    font-weight: bold;
    justify-self: flex-start;

    &__pokemon__number {
      margin-inline-end: 6px;
    }
  }

  // Load more button
  &__add-button:extend(.button all) {
    margin: 0;
  }
}
